//----------------------------------------------------------------------
//	BASE
//	Table
//----------------------------------------------------------------------

.container-table {
	overflow: auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

table {
	width: 100%;
}

th,
td {
}