//----------------------------------------------------------------------
//	TOOLS
//	Placeholders
//----------------------------------------------------------------------

//	Text hidden
//-----------------------------------

%text-hidden {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}